/* Основной цвет #212121  */
/* Второстепенный цвет #757575 */
/* цвет ссылки #2196F3 */
/* белый #FFFFFF */
/* Первичный цвет фона #F5F4FA */
/* Вторичный цвет фона #2F303A */
:root {
    --primary-text-color: #212121 ;
    --title-text-color: #212121;
    --secondary-text-color: #757575;
    --acent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --primary-bg-color: #2F303A;
    --secondary-bg-color: #F5F4FA;
    --main-bg-color: #FFFFFF;
    --button-main-color: #188CE8;
    --logo-main-color: black;
}
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: var(--primary-white-color);
    color: var(--primary-text-color) ;
}
h1, h2, h3, h4, p {
    margin-top: 0;
    margin-bottom: 0;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;  
}
img {
    display: block;
}
button {cursor: pointer;}

.logo {
color: var(--logo-main-color);
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
margin-left: auto;
margin-top: 25px;
}
.web-logo {
    color: var(--acent-color);
}
/* Разметка сайта */
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}
.page-header-container {
    display: flex;
    align-items: center;
}
.page-header-bg {
background-color: var(--primary-white-color);
}

.menu-item {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    align-items: center;
    margin-left: auto;
}

/*   Навигация сайта */
.site-nav a
{
color: var(--primary-text-color);
}
.site-nav {
    display: flex;
    column-gap: 50px;
    margin-right: auto;
}
.site-address {
    display: flex;
    column-gap: 50px;
    margin-left: auto;
}
.site-address-foot {
    display: inline-block;
    margin-left: auto;
    padding-left: auto;
}
.site-nav .link.current {
color: var(--acent-color);
}
.site-address a 
{ color: var(--secondary-text-color);}

.site-nav .link:hover, 
.site-nav .link:focus 
{
    color: var(--acent-color);
}
.site-address .link:hover,
.site-address .link:focus
{
    color: var(--acent-color);
}

.address a
{
color: var(--primary-text-color);
}
ul {list-style: none;}
.link {text-decoration: none;}

/* Кнопки */
.modal-button {
font-family: 'Roboto';
font-weight: 700;
font-size: 16px;
line-height: 1.87;
display: inline-block;
min-width: 216px;
margin-top: 40px;
padding: 10px 32px;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--primary-white-color);
background-color: var(--acent-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}
.modal-button:hover,
.modal-button:focus {
    background-color: var(--button-main-color);
}
.active-button {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    }
    .active-button:hover,
    .active-button:focus {
        background-color: var(--acent-color);
        color: var(--primary-white-color);
    }
.button-nav {
    display: flex;
    gap: 8px;
    justify-content: center;
}

/* main */
.main-text {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--primary-white-color);
}
.main-header {
text-align: center;
background-color: var(--primary-bg-color);
padding-top: 200px;
padding-bottom: 280px;
}
.main-work {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
margin-top: 120px;
margin-bottom: 50px;
}

/* Преимущества */
.visually-hidden {
    position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
  }
.caption-main {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-text-color);
margin-bottom: 10px;
}
.caption-portfolio {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color)
}
/* Paragraph */
.paragraph {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}
.paragraph-team {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.paragraph-portfolio {
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;

color: var(--secondary-text-color);
}
/* team */
.main-team {
    background-color: var(--secondary-bg-color);   
    }
    
.team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    padding-top: 95px;
    margin-bottom: 50px;
    }
/* Наша команда  */
.frame-link {
    background: var(--main-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 95px;
    }
    
.team-staff-igor {
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;

color: var(--primary-text-color);
background: var(--primary-white-color);

}
.team-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 30px;
    
    color: var(--primary-text-color);
    background: var(--primary-white-color); 
}

/* Подвал */
.footer {
background: var(--primary-bg-color);
}
.web-logo-foot {
    color: var(--primary-white-color)
}
.address-link {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--primary-white-color);
}
.footer-address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);  
    margin-left: auto;
}
/* оформление блоков */

 /* flex */
 .team-list {
    display: flex;
    column-gap: 30px;
    justify-content: center;
}
.work-list {
    display: flex;
    column-gap: 30px;
    justify-content: center;
    margin-bottom: 95px;
}
.main-flex {
    display: flex;
    column-gap: 30px;
    justify-content: center; 
    margin-top: 95px;
}
.main-portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-left: 0%;
}
